extends layout

block content
  h1= 'a/A Jumpstart'
  .container
    br
    .row
      h3= 'Step 2'
    .row
      .col-md-3
        p(class='label') w1d1
        .col-md-12
          a(href='/ruby/steptwo/w1d1/homework.rb')
            p(class='content') homework.rb
      .col-md-3
        p(class='label') w1d2
        .col-md-12
          a(href='/ruby/steptwo/w1d2/homework.rb')
            p(class='content') homework.rb
        .col-md-12
          a(href='/ruby/steptwo/w1d2/warmup.rb')
            p(class='content') warmup.rb
      .col-md-3
        p(class='label') w1d3
        .col-md-12
          a(href='/ruby/steptwo/w1d3/homework.rb')
            p(class='content') homework.rb
        .col-md-12
          a(href='/ruby/steptwo/w1d3/warmup.rb')
            p(class='content') warmup.rb
      .col-md-3
        p(class='label') w1d4
        .col-md-12
          a(href='/ruby/steptwo/w1d4/homework.rb')
            p(class='content') homework.rb
        .col-md-12
          a(href='/ruby/steptwo/w1d4/warmup.rb')
            p(class='content') warmup.rb
    .row
      .col-md-3
        p(class='label') w2d1
        .col-md-12
          a(href='/ruby/steptwo/w2d1/homework.rb')
            p(class='content') homework.rb
        .col-md-12
          a(href='/ruby/steptwo/w2d1/warmup.rb')
            p(class='content') warmup.rb
      .col-md-3
        p(class='label') w2d2
        .col-md-12
          a(href='/ruby/steptwo/w2d2/homework.rb')
            p(class='content') homework.rb
        .col-md-12
          a(href='/ruby/steptwo/w2d2/question1.rb')
            p(class='content') question1.rb
        .col-md-12
          a(href='/ruby/steptwo/w2d2/question2.rb')
            p(class='content') question2.rb
        .col-md-12
          a(href='/ruby/steptwo/w2d2/question3.rb')
            p(class='content') question3.rb
        .col-md-12
          a(href='/ruby/steptwo/w2d2/question4.rb')
            p(class='content') question4.rb
      .col-md-3
        p(class='label') w2d3
        .col-md-12
          p(class='content') no work was done
      .col-md-3
        p(class='label') w2d4
        .col-md-12
          a(href='/ruby/steptwo/w2d4/hashtagify.rb')
            p(class='content') hashtagify.rb
        .col-md-12
          a(href='/ruby/steptwo/w2d4/vigenere.rb')
            p(class='content') vigenere.rb
    br
    .row
      h3= 'Practice Assessment'
    .row
      .col-md-3
        p(class='label') practice one
        .col-md-12
          a(href='/ruby/other/assessment/practice1/main.rb')
            p(class='content') main.rb
          a(href='/ruby/other/assessment/practice1/test.rb')
            p(class='content') test.rb
      .col-md-3
        p(class='label') practice two
        .col-md-12
          a(href='/ruby/other/assessment/practice2/main.rb')
            p(class='content') main.rb
          a(href='/ruby/other/assessment/practice2/test.rb')
            p(class='content') test.rb
      .col-md-3
        p(class='label') practice three
        .col-md-12
          a(href='/ruby/other/assessment/practice3/main.rb')
            p(class='content') main.rb
          a(href='/ruby/other/assessment/practice3/test.rb')
            p(class='content') test.rb
      .col-md-3
        p(class='label') practice four
        .col-md-12
          a(href='/ruby/other/assessment/practice4/main.rb')
            p(class='content') main.rb
          a(href='/ruby/other/assessment/practice4/test.rb')
            p(class='content') test.rb
    br
    .row
      h3= 'Technical Interview Prep'
    .row
      .col-md-3
        p(class='label') easy
        .col-md-12
          a(href='/ruby/technicalinterviewprep/easy/anagrams.rb')
            p(class='content') anagrams.rb
        .col-md-12
          a(href='/ruby/technicalinterviewprep/easy/highcardpoints.rb')
            p(class='content') highcardpoints.rb
        .col-md-12
          a(href='/ruby/technicalinterviewprep/easy/removenthletter.rb')
            p(class='content') removenthletter.rb
      .col-md-3
        p(class='label') medium
        .col-md-12
          a(href='/ruby/technicalinterviewprep/medium/disemvowel.rb')
            p(class='content') disemvowel.rb
        .col-md-12
          a(href='/ruby/technicalinterviewprep/medium/longestbigram.rb')
            p(class='content') longestbigram.rb
        .col-md-12
          a(href='/ruby/technicalinterviewprep/medium/nearestlarger.rb')
            p(class='content') nearestlarger.rb
      .col-md-3
        p(class='label') hard
        .col-md-12
          a(href='/ruby/technicalinterviewprep/hard/bubblesort.rb')
            p(class='content') bubblesort.rb
        .col-md-12
          a(href='/ruby/technicalinterviewprep/hard/numprimefactors.rb')
            p(class='content') numprimefactors.rb
        .col-md-12
          a(href='/ruby/technicalinterviewprep/hard/wordplay.rb')
            p(class='content') wordplay.rb
    br
    .row
      h3= 'Technical Interview'
    .row
      .col-md-3
        p(class='label') question 1
        .col-md-12
          a(href='/ruby/technicalinterview/hkphonenumber.rb')
            p(class='content') hkphonenumber.rb
      .col-md-3
        p(class='label') question 2
        .col-md-12
          a(href='/ruby/technicalinterview/everyother.rb')
            p(class='content') everyother.rb
      .col-md-3
        p(class='label') question 3
        .col-md-12
          a(href='/ruby/technicalinterview/aliquot.rb')
            p(class='content') aliquot.rb

  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
