extends layout

block content
  h1= 'a/A'
  .container
    br
    .row
      h3= 'Step 2'
    .row
      .col-md-3
        h5= 'w1d1'
        .col-md-12
          a(href='/ruby/steptwo/w1d1/homework.rb')
            h5= 'homework.rb'
      .col-md-3
        h5= 'w1d2'
        .col-md-12
          a(href='/ruby/steptwo/w1d2/homework.rb')
            h5= 'homework.rb'
        .col-md-12
          a(href='/ruby/steptwo/w1d2/warmup.rb')
            h5= 'warmup.rb'
      .col-md-3
        h5= 'w1d3'
        .col-md-12
          a(href='/ruby/steptwo/w1d3/homework.rb')
            h5= 'homework.rb'
        .col-md-12
          a(href='/ruby/steptwo/w1d3/warmup.rb')
            h5= 'warmup.rb'
      .col-md-3
        h5= 'w1d4'
        .col-md-12
          a(href='/ruby/steptwo/w1d4/homework.rb')
            h5= 'homework.rb'
        .col-md-12
          a(href='/ruby/steptwo/w1d4/warmup.rb')
            h5= 'warmup.rb'
    .row
      .col-md-3
        h5= 'w2d1'
        .col-md-12
          a(href='/ruby/steptwo/w2d1/homework.rb')
            h5= 'homework.rb'
        .col-md-12
          a(href='/ruby/steptwo/w2d1/warmup.rb')
            h5= 'warmup.rb'
      .col-md-3
        h5= 'w2d2'
        .col-md-12
          a(href='/ruby/steptwo/w2d2/homework.rb')
            h5= 'homework.rb'
        .col-md-12
          a(href='/ruby/steptwo/w2d2/question1.rb')
            h5= 'question1.rb'
        .col-md-12
          a(href='/ruby/steptwo/w2d2/question2.rb')
            h5= 'question2.rb'
        .col-md-12
          a(href='/ruby/steptwo/w2d2/question3.rb')
            h5= 'question3.rb'
        .col-md-12
          a(href='/ruby/steptwo/w2d2/question4.rb')
            h5= 'question4.rb'
      .col-md-3
        h5= 'w2d3'
        .col-md-12
          p no work was done
      .col-md-3
        h5= 'w2d4'
        .col-md-12
          a(href='/ruby/steptwo/w2d4/hashtagify.rb')
            h5= 'hashtagify.rb'
        .col-md-12
          a(href='/ruby/steptwo/w2d4/vigenere.rb')
            h5= 'vigenere.rb'
    br
    .row
      h3= 'Practice Assessment'
    .row
      .col-md-3
        h5= 'practice one'
        .col-md-12
          a(href='/ruby/other/assessment/practice1/main.rb')
            h5= 'main.rb'
          a(href='/ruby/other/assessment/practice1/test.rb')
            h5= 'test.rb'
      .col-md-3
        h5= 'practice two'
        .col-md-12
          a(href='/ruby/other/assessment/practice2/main.rb')
            h5= 'main.rb'
          a(href='/ruby/other/assessment/practice2/test.rb')
            h5= 'test.rb'
      .col-md-3
        h5= 'practice three'
        .col-md-12
          a(href='/ruby/other/assessment/practice3/main.rb')
            h5= 'main.rb'
          a(href='/ruby/other/assessment/practice3/test.rb')
            h5= 'test.rb'
      .col-md-3
        h5= 'practice four'
        .col-md-12
          a(href='/ruby/other/assessment/practice4/main.rb')
            h5= 'main.rb'
          a(href='/ruby/other/assessment/practice4/test.rb')
            h5= 'test.rb'
    br
    .row
      h3= 'Technical Interview Prep'
    .row
      .col-md-3
        h5= 'easy'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/easy/anagrams.rb')
            h5= 'anagrams.rb'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/easy/highcardpoints.rb')
            h5= 'highcardpoints.rb'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/easy/removenthletter.rb')
            h5= 'removenthletter.rb'
      .col-md-3
        h5= 'medium'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/medium/disemvowel.rb')
            h5= 'disemvowel.rb'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/medium/longestbigram.rb')
            h5= 'longestbigram.rb'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/medium/nearestlarger.rb')
            h5= 'nearestlarger.rb'
      .col-md-3
        h5= 'hard'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/hard/bubblesort.rb')
            h5= 'bubblesort.rb'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/hard/numprimefactors.rb')
            h5= 'numprimefactors.rb'
        .col-md-12
          a(href='/ruby/technicalinterviewprep/hard/wordplay.rb')
            h5= 'wordplay.rb'
    br
    .row
      h3= 'Technical Interview'
    .row
      .col-md-3
        h5= 'question 1'
        .col-md-12
          a(href='/ruby/technicalinterview/hkphonenumber.rb')
            h5= 'hkphonenumber.rb'
      .col-md-3
        h5= 'question 2'
        .col-md-12
          a(href='/ruby/technicalinterview/everyother.rb')
            h5= 'everyother.rb'
      .col-md-3
        h5= 'question 3'
        .col-md-12
          a(href='/ruby/technicalinterview/aliquot.rb')
            h5= 'aliquot.rb'

  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
